lab_01/report/* linguist-documentation
lab_02/report/* linguist-documentation
lab_03/report/* linguist-documentation
lab_04/report/* linguist-documentation
lab_05/doc/* linguist-documentation
lab_06/doc/* linguist-documentation
lab_07/doc/* linguist-documentation
